<h1>Reactive Form</h1>

<h3>========Video 39===================</h3>
<form [formGroup]="loginForm" (ngSubmit)="collectData()">
    <input type="text" name="email" formControlName="email">
    <br><br> 

    <input type="password" name="password" formControlName="password">
    <br><br> 

    <button type="submit">Login</button>
</form>


<h3>========Video 40 (with validation)===================</h3>
<h2>Reactive Form With Validation</h2>
<div class="col-sm-4">
    <form [formGroup]="loginForm2">
        <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter Email" 
        formControlName="email" >
       
        </div>


        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password"
        formControlName="password" >
        <!-- <span *ngIf="password.invalid && password.touched">Password Should be entered properly</span> -->
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>    