<h1>Hello Angular</h1>

<hr>
    <h3>======= video 29 (Routing) ===========</h3>
    <a [routerLink]="['/login']">Login |||</a>
    <a [routerLink]="['/child-component']">   Child Component |||</a>
    <a [routerLink]="['/user-list']">   User List |||</a>
    <a [routerLink]="['/template-driven-form']">   Template Driven Form |||</a>
    <a [routerLink]="['/reactive-form']">   Reactive Form |||</a>
<br>



<router-outlet></router-outlet>

<!-- <h3>======= video 15 (Pass Data From Parent to Child Component) ===========</h3>
<app-child-component *ngFor ="let hero of heros" [hero]="hero"></app-child-component>
<button (click)="changeHeros()">Change Heros</button>
 -->

 










 
