<h1>Template Driven Form</h1>
<div class="col-sm-6">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email"
            #email="ngModel"  required email [ngModel]="userData.email"
            placeholder="Enter Email" aria-describedby="emailHelp">
            <span 
              *ngIf="email.invalid && email.touched"
            class="error">Email should be entered properly</span>
        </div>

        <div class="form-group">
            <label for="exampleInputMobile1">Mobile</label>
            <input type="text" class="form-control" name="mobile"
            #mobile="ngModel" required minlength="8" maxlength="12" pattern="[0-9]*" [ngModel]="userData.mobile"
            placeholder="Enter Mobile" >
            <span 
              *ngIf="mobile.invalid && mobile.touched"
            class="error">Mobile should be entered properly</span>
        </div>

        <div class="form-group">
            <label for="exampleInputMobile1">Address</label>
            <input type="text" class="form-control" name="address"
            #address="ngModel" required pattern="[a-zA-z ]*" [ngModel]="userData.address"
            placeholder="Enter Address" >
            <span 
              *ngIf="address.invalid && address.touched"
            class="error">Address should be entered properly</span>
        </div>
          
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input ngModel type="password" class="form-control" 
            #password="ngModel" ngModel required minlength="5" maxlength="12" 
            placeholder="Enter Password" name="password">
            <span 
              *ngIf="password.invalid && password.touched"
            class="error">Password should be entered properly</span>
        </div>
          <button type="submit" [disabled]="userForm.invalid" 
          class="btn btn-primary">Submit</button>
    </form>
</div>

