<p>Exercise 1</p>


<h3>======= video 6 (Interpolation) ===========</h3>
<h4>{{title}}</h4>
<h4>Name: {{obj.name}}</h4>
<h4>Email: {{obj.email}}</h4>
<hr>

<h3>======= video 7 (Click Event) ===========</h3>
<button (click)="clickEvent()">Click Me</button>


<h3>======= video 7 (Click Event) ===========</h3>
<input type="text" name="user" (keyup)="getValues($event)" >

<hr>

<h3>======= video 8 (Property Binding) ===========</h3>
<input type="text" name="{{title}}" disabled="{{isDisabled}}" >
<input type="text" [name]="title" [disabled]="isDisabled" >
<hr>

<h3>======= video 9 (*ngIf) ===========</h3>
<h4 *ngIf="show; then thenBlock; else elseBlock"></h4>
<ng-template #thenBlock>Then Block</ng-template>
<ng-template #elseBlock>else Block</ng-template>
<hr>

<h3>======= video 11 (*ngSwitch) ===========</h3>
<div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: Red;">Red Color</h2> 
    <h2 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h2> 
    <h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2> 
    <h2 *ngSwitchDefault>Default Color</h2> 
</div>
<hr>

<h3>======= video 12 (*ngFor) ===========</h3>
<div *ngFor="let colors of arrColor">
    <h4>{{colors}}</h4>
</div>
<hr>

<h3>======= video 13 (*forms) ===========</h3>
<form [formGroup]='tutInfo' (ngSubmit)="onSubmit(tutInfo.value)">
    <input type="text" formControlName="user">
    <div *ngIf="user.invalid && (user.dirty || user.touched)">
        Invalid User
    </div>
    <br><br>
    <input type="text" formControlName="address">
    <div *ngIf="address.invalid && (address.dirty || address.touched)">
        Invalid Address
    </div>
    <br><br>
    <button type="submit">Submit</button>
</form>

<hr>
<h3>======= video 16 (Calling Api) ===========</h3>
<h3 *ngFor="let item of apiData">
    {{item.id}} & {{item.name}}
</h3>
<hr>

<h3>======= video 17 (Style Binding) ===========</h3>
<h4 style="color:red;">Style bnding example 1</h4>
<h4 [style.color]="'red'">Style bnding example 1</h4>
<h4 [style.color]="colorCode">Style bnding example 1</h4>
<h4 [style.color]="errorStyle? 'red':'blue'">Style bnding example 1</h4>
<hr>

<h3>======= video 24 (Pipe) ===========</h3>
<h4>{{"Anil"|uppercase}}</h4>
<h4>{{fullname|slice:3:9}}</h4>
<h4>{{birthday|date:'fullDate'|uppercase}}</h4>
<h4>{{fullname|reversepipe}}</h4>
<hr>

<h3>======= video 26 (Two Way Binding) ===========</h3>
<input type="text" [(ngModel)]="fullname">
<h4>{{fullname}}</h4> 
<hr>
<h3>======= video 22 (Post Api call with service) ===========</h3>
<button (click)="GetUserAll()">Get User</button>

<ul>
    <li *ngFor = "let user of allUserData">
        {{user.email}} |||| {{user.password}}
    </li>
</ul>
<hr>

<h3>======= video 18 (Post Api With Form Submit) ===========</h3>
<form [formGroup]='restoForm' (ngSubmit)="callApiPost()">
   
    <label>Password</label>
       <input type="text" formControlName="password" >   
       <br><br>

    <label>Email</label>
       <input type="text" formControlName="email" >
       <br><br> 
       
    <button>Submit Data</button>   
    
</form>

